<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NestJS</title>
</head>
<body>
    Hello, {{sName}} Good morning!
    Email Id: <b>{{sEmail}}</b>
    Contact No.: <b>{{sMobile}}</b>
    User Name: <b>{{sUsername}}</b>
</body>
</html>